<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.harry.uac.dao.ExtendDataMapper" >
  <resultMap id="BaseResultMap" type="com.harry.uac.persistence.ExtendData" >
    <id column="EXTEND_DATA_ID" property="extendDataId" jdbcType="BIGINT" />
    <result column="EXTEND_DATA_TYPE_ID" property="extendDataTypeId" jdbcType="BIGINT" />
    <result column="EXTEND_DATA_SOURCEID" property="extendDataSourceid" jdbcType="BIGINT" />
    <result column="EXTEND_DATA_VALUE" property="extendDataValue" jdbcType="VARCHAR" />
    <result column="EXTEND_DATA_DISPLAY_ORDER" property="extendDataDisplayOrder" jdbcType="INTEGER" />
    <result column="EXTEND_DATA_REMARK" property="extendDataRemark" jdbcType="VARCHAR" />
    <result column="CREATE_USER_ID" property="createUserId" jdbcType="BIGINT" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_USER_ID" property="updateUserId" jdbcType="BIGINT" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    EXTEND_DATA_ID, EXTEND_DATA_TYPE_ID, EXTEND_DATA_SOURCEID, EXTEND_DATA_VALUE, EXTEND_DATA_DISPLAY_ORDER, 
    EXTEND_DATA_REMARK, CREATE_USER_ID, CREATE_TIME, UPDATE_USER_ID, UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.harry.uac.persistence.ExtendDataExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from UAC.EXTEND_DATA
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from UAC.EXTEND_DATA
    where EXTEND_DATA_ID = #{extendDataId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from UAC.EXTEND_DATA
    where EXTEND_DATA_ID = #{extendDataId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.harry.uac.persistence.ExtendDataExample" >
    delete from UAC.EXTEND_DATA
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.harry.uac.persistence.ExtendData" >
    <selectKey resultType="java.lang.Long" keyProperty="extendDataId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into UAC.EXTEND_DATA (EXTEND_DATA_ID, EXTEND_DATA_TYPE_ID, EXTEND_DATA_SOURCEID, 
      EXTEND_DATA_VALUE, EXTEND_DATA_DISPLAY_ORDER, 
      EXTEND_DATA_REMARK, CREATE_USER_ID, CREATE_TIME, 
      UPDATE_USER_ID, UPDATE_TIME)
    values (#{extendDataId,jdbcType=BIGINT}, #{extendDataTypeId,jdbcType=BIGINT}, #{extendDataSourceid,jdbcType=BIGINT}, 
      #{extendDataValue,jdbcType=VARCHAR}, #{extendDataDisplayOrder,jdbcType=INTEGER}, 
      #{extendDataRemark,jdbcType=VARCHAR}, #{createUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.harry.uac.persistence.ExtendData" >
    <selectKey resultType="java.lang.Long" keyProperty="extendDataId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into UAC.EXTEND_DATA
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="extendDataId != null" >
        EXTEND_DATA_ID,
      </if>
      <if test="extendDataTypeId != null" >
        EXTEND_DATA_TYPE_ID,
      </if>
      <if test="extendDataSourceid != null" >
        EXTEND_DATA_SOURCEID,
      </if>
      <if test="extendDataValue != null" >
        EXTEND_DATA_VALUE,
      </if>
      <if test="extendDataDisplayOrder != null" >
        EXTEND_DATA_DISPLAY_ORDER,
      </if>
      <if test="extendDataRemark != null" >
        EXTEND_DATA_REMARK,
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateUserId != null" >
        UPDATE_USER_ID,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="extendDataId != null" >
        #{extendDataId,jdbcType=BIGINT},
      </if>
      <if test="extendDataTypeId != null" >
        #{extendDataTypeId,jdbcType=BIGINT},
      </if>
      <if test="extendDataSourceid != null" >
        #{extendDataSourceid,jdbcType=BIGINT},
      </if>
      <if test="extendDataValue != null" >
        #{extendDataValue,jdbcType=VARCHAR},
      </if>
      <if test="extendDataDisplayOrder != null" >
        #{extendDataDisplayOrder,jdbcType=INTEGER},
      </if>
      <if test="extendDataRemark != null" >
        #{extendDataRemark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.harry.uac.persistence.ExtendDataExample" resultType="java.lang.Integer" >
    select count(*) from UAC.EXTEND_DATA
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update UAC.EXTEND_DATA
    <set >
      <if test="record.extendDataId != null" >
        EXTEND_DATA_ID = #{record.extendDataId,jdbcType=BIGINT},
      </if>
      <if test="record.extendDataTypeId != null" >
        EXTEND_DATA_TYPE_ID = #{record.extendDataTypeId,jdbcType=BIGINT},
      </if>
      <if test="record.extendDataSourceid != null" >
        EXTEND_DATA_SOURCEID = #{record.extendDataSourceid,jdbcType=BIGINT},
      </if>
      <if test="record.extendDataValue != null" >
        EXTEND_DATA_VALUE = #{record.extendDataValue,jdbcType=VARCHAR},
      </if>
      <if test="record.extendDataDisplayOrder != null" >
        EXTEND_DATA_DISPLAY_ORDER = #{record.extendDataDisplayOrder,jdbcType=INTEGER},
      </if>
      <if test="record.extendDataRemark != null" >
        EXTEND_DATA_REMARK = #{record.extendDataRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null" >
        CREATE_USER_ID = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null" >
        UPDATE_USER_ID = #{record.updateUserId,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update UAC.EXTEND_DATA
    set EXTEND_DATA_ID = #{record.extendDataId,jdbcType=BIGINT},
      EXTEND_DATA_TYPE_ID = #{record.extendDataTypeId,jdbcType=BIGINT},
      EXTEND_DATA_SOURCEID = #{record.extendDataSourceid,jdbcType=BIGINT},
      EXTEND_DATA_VALUE = #{record.extendDataValue,jdbcType=VARCHAR},
      EXTEND_DATA_DISPLAY_ORDER = #{record.extendDataDisplayOrder,jdbcType=INTEGER},
      EXTEND_DATA_REMARK = #{record.extendDataRemark,jdbcType=VARCHAR},
      CREATE_USER_ID = #{record.createUserId,jdbcType=BIGINT},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_USER_ID = #{record.updateUserId,jdbcType=BIGINT},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.harry.uac.persistence.ExtendData" >
    update UAC.EXTEND_DATA
    <set >
      <if test="extendDataTypeId != null" >
        EXTEND_DATA_TYPE_ID = #{extendDataTypeId,jdbcType=BIGINT},
      </if>
      <if test="extendDataSourceid != null" >
        EXTEND_DATA_SOURCEID = #{extendDataSourceid,jdbcType=BIGINT},
      </if>
      <if test="extendDataValue != null" >
        EXTEND_DATA_VALUE = #{extendDataValue,jdbcType=VARCHAR},
      </if>
      <if test="extendDataDisplayOrder != null" >
        EXTEND_DATA_DISPLAY_ORDER = #{extendDataDisplayOrder,jdbcType=INTEGER},
      </if>
      <if test="extendDataRemark != null" >
        EXTEND_DATA_REMARK = #{extendDataRemark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        UPDATE_USER_ID = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where EXTEND_DATA_ID = #{extendDataId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.harry.uac.persistence.ExtendData" >
    update UAC.EXTEND_DATA
    set EXTEND_DATA_TYPE_ID = #{extendDataTypeId,jdbcType=BIGINT},
      EXTEND_DATA_SOURCEID = #{extendDataSourceid,jdbcType=BIGINT},
      EXTEND_DATA_VALUE = #{extendDataValue,jdbcType=VARCHAR},
      EXTEND_DATA_DISPLAY_ORDER = #{extendDataDisplayOrder,jdbcType=INTEGER},
      EXTEND_DATA_REMARK = #{extendDataRemark,jdbcType=VARCHAR},
      CREATE_USER_ID = #{createUserId,jdbcType=BIGINT},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_USER_ID = #{updateUserId,jdbcType=BIGINT},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where EXTEND_DATA_ID = #{extendDataId,jdbcType=BIGINT}
  </update>
  
  <sql id="CheckExists_Where_Clause" >
    <where>
    <trim prefix="(" suffix=")" prefixOverrides="and" >
    <if test="typeName != null" >
    AND EDT.EXTEND_DATA_TYPE_NAME = #{typeName, jdbcType=VARCHAR}
    </if>
    <if test="typeSource != null" >
    AND EDT.EXTEND_DATA_TYPE_SOURCE = #{typeSource, jdbcType=VARCHAR}
    </if>
    <if test="typeCode != null" >
    AND EDT.EXTEND_DATA_TYPE_CODE = #{typeCode, jdbcType=VARCHAR}
    </if>
    <if test="typeStyle != null" >
    AND EDT.EXTEND_DATA_TYPE_STYLE = #{typeStyle, jdbcType=INTEGER}
    </if>
    <if test="sourceId != null" >
    AND ED.EXTEND_DATA_SOURCEID = #{sourceId, jdbcType=VARCHAR}
    </if>
    </trim>
    </where>
  </sql>
  <!-- 
  DONT CHANGE AS ALIS,,, THIS IS REFERENCE BY SOURCE CODE!!!
  Consts
   -->
  <resultMap id="mapResult" type="java.util.HashMap">  
    <result property="ID" column="ID"/>  
    <result property="VALUE" column="VALUE"/>  
  </resultMap> 
  <select id="checkExtendDataExist" resultMap="mapResult" parameterType="map">
     SELECT ED.EXTEND_DATA_ID AS ID, ED.EXTEND_DATA_VALUE AS VALUE
        FROM UAC.EXTEND_DATA_TYPE EDT INNER JOIN UAC.EXTEND_DATA ED
          ON EDT.EXTEND_DATA_TYPE_ID = ED.EXTEND_DATA_TYPE_ID
    <if test="_parameter != null" >
      <include refid="CheckExists_Where_Clause" />
    </if>
  </select>
</mapper>